<!DOCTYPE html>
<html>
    <head>
        <title>VLift: Customer-Professional Portal</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/stylesheets/landing.css">
        <link rel="shortcut icon" href="/assets/favicon/favicon.png">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
        <div id="landing-header">
 		    <h1>Welcome to VLift</h1><hr>
		    <a href="/jobs" class="btn btn-lg btn-dark">View All Jobs</a>
        </div>
    </body>
<% include partials/footer %>